/* h1 {
    background-color: palegoldenrod;
    border: 1px solid black;
        Changed h1s so that they are not block elements, but they are inline
    display: inline;
}

span {
    background-color: paleturquoise;
    border: 1px solid black;
        Changed spans from inline elements to block level elements.
    display: block;
} */

span {
    background-color: palevioletred;
    border: 1px solid black;
    /* width and height is ignored on inline elements. */
    width: 500px;
    /* padding is added but it does not move content away around it */
    padding: 10px;
    /* For inline elements, margin is only respected horizontally. */
    margin: 50px;
}

/* Width, padding and margin are all respected on this block element */
h1 {
    background-color: paleturquoise;
    border: 1px solid black;
    width: 300px;
    padding: 50px;
    margin: 100px;
    /* Set to none this elements are hidden */
    display: none;
}

div {
    height: 200px;
    width: 200px;
    background-color: olivedrab;
    border: 5px solid black;
    /* with inline-block, you get block level properties like width and height, but also keeping them positioned one next to the other. */
    display: inline-block;
    margin: 50px;
}