section {
    width: 500px;
    height: 500px;
    background-color: magenta;
}

#rgba {
    width: 50%;
    height: 50%;
    /* a in RGBA adds changes the object transparency, but only to the object itself and not its content. */
    background-color: rgba(255, 255, 255, 0.7);
    /* in hex it would be adding 2 extra hex characters from 00 transparent, to FF solid */
}

#opacity {
    width: 50%;
    height: 50%;
    background-color: yellow;
    /* Opacity adds transparency to the object and to whats inside. Including other elements inside that element. */
    opacity: 0.3;
}